alembic==0.9.10
apispec==3.0.0
attrs==19.1.0
Babel==2.7.0
Bootstrap-Flask==1.0.10
boto==2.49.0
boto3==1.9.160
botocore==1.12.160
bs4==0.0.1
cached-property==1.5.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
colorlog==4.0.2
configparser==3.5.3
croniter==0.3.30
cssselect==1.0.3
cycler==0.10.0
Cython==0.29.10
decorator==4.4.0
defusedxml==0.6.0
dill==0.2.9
docutils==0.14
dominate==2.3.5
download==0.3.3
Faker==1.0.7
feedfinder2==0.0.4
feedparser==5.2.1
Flask==1.1.1
Flask-Admin==1.5.3
Flask-AppBuilder==1.12.3
Flask-Babel==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Caching==1.3.3
Flask-JWT-Extended==3.23.0
Flask-Login==0.4.1
Flask-Moment==0.7.0
Flask-OpenID==1.2.5
flask-paginate==0.5.2
Flask-SQLAlchemy==2.4.0
flask-swagger==0.2.13
Flask-WTF==0.14.2
funcsigs==1.0.0
future==0.16.0
gensim==3.7.3
gitdb2==2.0.5
GitPython==3.0.2
google==2.0.2
graphviz==0.10.1
gunicorn==19.9.0
h5py==2.9.0
idna==2.8
iso8601==0.1.12
itsdangerous==1.1.0
jieba==0.39
jieba3k==0.35.1
Jinja2==2.10.3
jmespath==0.9.4
json-merge-patch==0.2
jsonschema==3.0.2
kashgari==0.2.4
Keras==2.2.4
Keras-Applications==1.0.8
keras-bert==0.57.1
keras-embed-sim==0.7.0
keras-gpt-2==0.11.1
keras-layer-normalization==0.12.0
keras-multi-head==0.20.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.5.0
Keras-Preprocessing==1.1.0
keras-self-attention==0.41.0
keras-transformer==0.28.0
kiwisolver==1.0.1
lazy-object-proxy==1.4.2
liac-arff==2.4.0
lockfile==0.12.2
lxml==4.3.3
Mako==1.1.0
Markdown==2.6.11
MarkupSafe==1.1.1
marshmallow==2.19.5
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.19.0
matplotlib==3.0.3
networkx==2.2
newspaper3k==0.2.8
nltk==3.4
numpy==1.16.2
ordereddict==1.1
pandas==0.24.2
pendulum==1.4.4
Pillow==6.0.0
pip-utils==0.0.6
prison==0.1.0
protobuf==3.9.1
psutil==5.6.1
psycopg2==2.7.7
pyasn1==0.4.5
pybind11==2.3.0
Pygments==2.4.2
PyJWT==1.7.1
pymongo==3.9.0
PyMySQL==0.9.3
pyparsing==2.3.1
pyrsistent==0.15.4
python-daemon==2.1.2
python-dateutil==2.8.0
python-editor==1.0.4
python3-openid==3.1.0
pytz==2018.9
pytzdata==2019.2
PyYAML==5.1
regex==2019.6.8
requests==2.21.0
requests-file==1.4.3
rsa==4.0
s3transfer==0.2.0
scikit-learn==0.20.3
scipy==1.2.1
seqeval==0.0.12
setproctitle==1.1.10
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smart-open==1.8.4
smmap2==2.0.5
soupsieve==1.9
SQLAlchemy==1.2.19
tabulate==0.8.3
tenacity==4.12.0
termcolor==1.1.0
text-unidecode==1.2
textprocess==0.1
thrift==0.11.0
tinysegmenter==0.3
tldextract==2.2.1
tqdm==4.32.1
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.24.2
visitor==0.1.3
Werkzeug==0.16.0
WTForms==2.2.1
xlrd==1.2.0
zope.deprecation==4.4.0
