{% macro commitTimesListByDay(commit_times_list_by_day) %}
    <div style="margin: 15px">
        <h5>1.总commit曲线</h5>
        <div id="main1" style="width: 800px;height:500px;margin: 0 auto;"></div>
        <h5>2.总-分类commit曲线</h5>
        <div id="main12" style="width: 800px;height:500px;margin: 0 auto;"></div>
        <h5>3.条形码</h5>
        <div id="main13" style="width: 800px;height:500px;margin: 0 auto;"></div>
        <h5>4.top5贡献折线图</h5>
        <div id="main14" style="width: 800px;height:500px;margin: 0 auto;"></div>
    </div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart1 = echarts.init(document.getElementById('main1'));
        var myChart2 = echarts.init(document.getElementById('main12'));
        var myChart3 = echarts.init(document.getElementById('main13'));
        var myChart4 = echarts.init(document.getElementById('main14'));
        // 指定图表的配置项和数据(注意要用tojson)
        var src_data = {{ commit_times_list_by_day|tojson }};
        console.log(src_data);
        var option1 = {
            legend: {},
            tooltip: {},
            dataset: {
                source: src_data
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            xAxis: {type: 'category'},
            yAxis: {},
            // Declare several bar series, each will be mapped
            // to a column of dataset.source by default.
            series: [
                {% for foo in range((commit_times_list_by_day[0]|length - 1)) %}
                    {type: 'bar'},
                {% endfor %}
            ]
        };
        var option2 = {
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['Add', 'Delete', 'Mod', 'Fix']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: 'Add',
                    type: 'line',
                    stack: '总量',
                    data: [120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name: 'Delete',
                    type: 'line',
                    stack: '总量',
                    data: [220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name: 'Mod',
                    type: 'line',
                    stack: '总量',
                    data: [150, 232, 201, 154, 190, 330, 410]
                },
                {
                    name: 'Fix',
                    type: 'line',
                    stack: '总量',
                    data: [320, 332, 301, 334, 390, 330, 320]
                },
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option1);
        myChart2.setOption(option2);
        myChart3.setOption(option1);
        myChart4.setOption(option1);
    </script>
{% endmacro %}

