{% macro repoBaseInformation(repo_base_information) %}
    <div style="margin: 15px">
        <h5>1.基本信息</h5>
        <table class="table">
            <thead>
            <th>commits总数</th>
            <th>contributors数量</th>
            <th>建立时间</th>
            </thead>
            <tbody>
            <tr>
                <td>{{ repo_base_information.commits }}</td>
                <td>{{ repo_base_information.contributors }}</td>
                <td>{{ repo_base_information.start_time }}</td>
            </tr>
            </tbody>
        </table>
        <h5>2.Top10 commits数量贡献者</h5>
        <table class="table">
            <thead>
            <th>contributor</th>
            <th>commits数量</th>
            </thead>
            <tbody>
            {% for item in repo_base_information.top_ten_commits %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.commits }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h5>3.Top3 总体-个人贡献相似度榜单</h5>
        <table class="table">
            <thead>
            <th>No.1</th>
            <th>No.2</th>
            <th>No.3</th>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fa fa-user-circle-o" style="font-size: xx-large; color: blueviolet" aria-hidden="true"></i>{{ repo_base_information.top_ten_frechet[-1][2]}}</td>
                    <td><i class="fa fa-user-circle-o" style="font-size: x-large; color: blueviolet" aria-hidden="true"></i>{{ repo_base_information.top_ten_frechet[-2][2]}}</td>
                    <td><i class="fa fa-user-circle-o" style="font-size: large; color: mediumpurple" aria-hidden="true"></i>{{ repo_base_information.top_ten_frechet[-3][2]}}</td>
                </tr>
            </tbody>
        </table>
        <h5>4.Top10 总体-个人贡献(相对)相似度</h5>
        <div id="main2" style="width: 800px;height:500px;margin: 0 auto;"></div>
        <br/>
        <cite>附注：贡献相似度越高，则说明贡献者更倾向于全程参与项目，且参与程度通常较高，是项目的重要贡献者。</cite>
        <br/>
    </div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart2 = echarts.init(document.getElementById('main2'));
        // 指定图表的配置项和数据(注意要用tojson)
        var option2 = {
            dataset: {
                source: {{ repo_base_information.top_ten_frechet | tojson}}
            },
            grid: {containLabel: true},
            xAxis: {name: 'commits'},
            yAxis: {type: 'category'},
            visualMap: {
                orient: 'horizontal',
                left: 'center',
                min: 0,
                max: {{ repo_base_information.max_frechet | tojson}},
                text: ['High Frechet', 'Low Frechet'],
                // Map the score column to color
                dimension: 0,
                inRange: {
                    color: ['#D7DA8B', '#E15457']
                }
            },
            series: [
                {
                    type: 'bar',
                    encode: {
                        // Map the "amount" column to X axis.
                        x: 'commits',
                        // Map the "product" column to Y axis
                        y: 'contributor'
                    }
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option2);
    </script>
{% endmacro %}

