{% macro contributorNetworkMatrix(contributor_network_matrix) %}
    <div style="margin: 15px">
        <h5>1.贡献者协作矩阵</h5>
        <div id="main5" style="width: 800px;height:500px;margin: 0 auto;"></div>
        <h5>2.贡献者协作关系图</h5>
        <div id="main51" style="width: 800px;height:500px;margin: 0 auto;"></div>
    </div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart5 = echarts.init(document.getElementById('main5'));
        var myChart51 = echarts.init(document.getElementById('main51'));

        // 指定图表的配置项和数据(注意要用tojson)
        var hours = {{ contributor_network_matrix.x | tojson }};
        var days = {{ contributor_network_matrix.y | tojson }};
        var data = {{ contributor_network_matrix.data | tojson}};
        var max = {{ contributor_network_matrix.max }}

            data = data.map(function (item) {
                return [item[1], item[0], item[2] || '-'];
            });

        var option5 = {
            tooltip: {
                position: 'top'
            },
            animation: false,
            grid: {
                height: '50%',
                y: '10%'
            },
            xAxis: {
                type: 'category',
                data: hours,
                splitArea: {
                    show: true
                }
            },
            yAxis: {
                type: 'category',
                data: days,
                splitArea: {
                    show: true
                }
            },
            visualMap: {
                min: 0,
                max: max,
                calculable: true,
                orient: 'horizontal',
                left: 'center',
                bottom: '15%'
            },
            series: [{
                name: 'commits with',
                type: 'heatmap',
                data: data,
                label: {
                    normal: {
                        show: false
                    }
                },
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }]
        };

        var nodes = {{ contributor_network_matrix.nodes[0:20] | tojson }};
        nodes.forEach(function (node) {
            node.draggable = false;
        });

        var option51 = {

            tooltip: {},
            animation: false,
            series: [
                {
                    type: 'graph',
                    layout: 'force',
                    symbolSize: 10,//一般大小
                    roam: true, //是否开启鼠标缩放和平移漫游。如果只想要开启缩放或者平移，可以设置成 'scale' 或者 'move'。设置成 true 为都开启
                    focusNodeAdjacency: true,
                    // symbol: 'pin',
                    edgeSymbol: ['circle', 'none'],
                    edgeSymbolSize: [4, 10],
                    edgeLabel: {
                        // 留着以后可以改这里的属性
                        normal: {
                            textStyle: {
                                fontSize: 20
                            }
                        }
                    },
                    force: {
                        repulsion: 100,
                        {#edgeLength: [10, 50]#}
                    },
                    draggable: true,
                    itemStyle: {
                        normal: {
                            color: '#594ebe',
                        }
                    },
                    // 默认的lineStyle
                    lineStyle: {
                        normal: {
                            width: 3,
                            type: 'dotted',
                            // color: '#b04ade'
                            color: {
                                type: 'linear',
                                x: 0,
                                y: 0,
                                x2: 0,
                                y2: 1,
                                colorStops: [{
                                    offset: 0, color: '#409EFF' // 0% 处的颜色
                                }, {
                                    offset: 1, color: 'blue' // 100% 处的颜色
                                }],
                                globalCoord: false // 缺省为 false
                            }
                        }
                    },
                    edgeLabel: {
                        normal: {
                            show: false,
                            formatter: function (x) {
                                //同学，工作伙伴啥的
                                return x.data.relation;
                            }
                        }
                    },
                    label: {
                        normal: {
                            show: false,
                            textStyle: {}
                        }
                    },

                    data: nodes,
                    links: {{ contributor_network_matrix.links | tojson }}
                }
            ]
        };




        option52 = {
            title: {
                text: 'Les Miserables',
                subtext: 'Default layout',
                top: 'bottom',
                left: 'right'
            },
            tooltip: {},
            animation: false,
            series: [
                {
                    name: 'Les Miserables',
                    type: 'graph',
                    layout: 'force',
                    data: nodes,
                    links: {{ contributor_network_matrix.links | tojson }},
                    roam: true,
                    label: {
                        normal: {
                            position: 'right'
                        }
                    },
                    force: {
                        repulsion: 100
                    }
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart5.setOption(option5);
        myChart51.setOption(option51);
    </script>
{% endmacro %}

