{% macro commitTimesListByDay(commit_times_list_by_day) %}
    <div id="main1" style="width: 800px;height:500px;margin: 0 auto;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart1 = echarts.init(document.getElementById('main1'));
        // 指定图表的配置项和数据(注意要用tojson)
        var src_data = {{ commit_times_list_by_day|tojson }};
        console.log(src_data);
        var option1 = {
            legend: {},
            tooltip: {},
            dataset: {
                source: src_data
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            xAxis: {type: 'category'},
            yAxis: {},
            // Declare several bar series, each will be mapped
            // to a column of dataset.source by default.
            series: [
                {% for foo in range((commit_times_list_by_day[0]|length - 1)) %}
                    {type: 'bar'},
                {% endfor %}
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option1);
    </script>
{% endmacro %}

