{% extends 'repositories.html' %}
{% from 'macros/macros_form.html' import form_field%}

{% block homepage %}
    <a class="blog-header-logo text-dark" href="{{ url_for('repositories') }}">{{ username }}'s Blog</a>
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <a href="{{ url_for('home') }}">&larr; Return</a>
        <h1 class="display-4">删除内容</h1>
        <hr>
        <form method="post" enctype="multipart/form-data" action="{{ url_for('action_delete') }}" >
            {{ form.csrf_token }}
{#            {{  form_field(form.username) }}#}
            {{  form_field(form.title) }}
            {{  form.delete(class='btn btn-primary') }}
        </form>
        <hr/>
        <h4> 用户内容数据 </h4>
        <table class="table">
            <thead>
                <tr>
                <th>题目</th>
            </tr>
            </thead>
            <tbody>
            {% for item in contents%}
            <tr>
                <td>{{ item.title }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
