{% extends 'study_basic.html' %}
{% from 'macros_form.html' import form_field%}
{% from 'table_macros.html' import table_macros %}

{% block postcard %}
{% endblock %}

{% block user_info %}
    <span>欢迎您，{{ username }}</span>
    <div style="width: 20px;height: 20px"></div>
    <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('logout') }}">注销</a>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-light bg-light">
        <form method="post" class="form-inline">
            {{ form.csrf_token }}
            {{ form.cname(class="form-control mr-sm-2", type="key") }}
            {{ form.key(class="form-control mr-sm-2", type="key") }}
            {{ form.author(class="form-control mr-sm-2", type="key") }}
            {{ form.search(class='btn btn-outline-success my-2 my-sm-0', type='submit') }}
        </form>
    </nav>
    <br>
    {{ table_macros(searches,username) }}
{% endblock %}