{% extends 'repositories.html' %}
{% from 'macros/macros_form.html' import form_field %}
{% from 'macros/macros_CommitTimesListByDay.html' import commitTimesListByDay %}
{% from 'macros/macros_ContributorNetworkMatrix.html' import contributorNetworkMatrix %}
{% from 'macros/macros_FileContributorMatrix.html' import fileContributorMatrix %}
{% from 'macros/macros_RepoBaseInformation.html' import repoBaseInformation %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/echarts.js') }}"></script>
{% endblock %}

{% block title %}
    {{ super() }}
    项目内容
{% endblock %}

{% block blog_content %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="search-tab" data-toggle="tab" href="#search" role="tab"
               aria-controls="search"
               aria-selected="false">
                <h6>仓库基本信息</h6>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="home"
               aria-selected="true">
                <h6>贡献演化</h6>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="profile"
               aria-selected="false">
                <h6>空间分布</h6>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#audit" role="tab" aria-controls="contact"
               aria-selected="false">
                <h6>协作关系</h6>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
               aria-selected="false">
                <h6>关系图演示效果</h6>
            </a>
        </li>
    </ul>
    <div class="tab-content border border-top-0" id="myTabContent">
        <div class="tab-pane fade  show active" id="search" role="tabpanel" aria-labelledby="search-tab">
            {{ repoBaseInformation(repo_base_information) }}
        </div>
        <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="home-tab">
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            {{ commitTimesListByDay(commit_times_list_by_day) }}
        </div>
        <div class="tab-pane fade" id="edit" role="tabpanel" aria-labelledby="profile-tab">
            {{ fileContributorMatrix(file_contributor_matrix, repo_name, 800, 800) }}
        </div>
        <div class="tab-pane fade" id="audit" role="tabpanel" aria-labelledby="contact-tab">
            {{ contributorNetworkMatrix(contributor_network_matrix) }}
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div id="main4" style="width: 800px;height:500px;margin: 0 auto;"></div>
        </div>
    </div>



    <script type="text/javascript">

        // 基于准备好的dom，初始化echarts实例
        var myChart4 = echarts.init(document.getElementById('main4'));

        // 指定图表的配置项和数据

        var option4 = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            legend: {
                data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎']
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'value'
                }
            ],
            yAxis: [
                {
                    type: 'category',
                    data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                }
            ],
            series: [
                {
                    name: '直接访问',
                    type: 'bar',
                    stack: '总量',
                    itemStyle: {normal: {label: {show: true, position: 'insideRight'}}},
                    data: [320, 302, 301, 334, 390, 330, 320]
                },
                {
                    name: '邮件营销',
                    type: 'bar',
                    stack: '总量',
                    itemStyle: {normal: {label: {show: true, position: 'insideRight'}}},
                    data: [120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name: '联盟广告',
                    type: 'bar',
                    stack: '总量',
                    itemStyle: {normal: {label: {show: true, position: 'insideRight'}}},
                    data: [220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name: '视频广告',
                    type: 'bar',
                    stack: '总量',
                    itemStyle: {normal: {label: {show: true, position: 'insideRight'}}},
                    data: [150, 212, 201, 154, 190, 330, 410]
                },
                {
                    name: '搜索引擎',
                    type: 'bar',
                    stack: '总量',
                    itemStyle: {normal: {label: {show: true, position: 'insideRight'}}},
                    data: [820, 832, 901, 934, 1290, 1330, 1320]
                }
            ]
        };

        option4 = {
            title: {text: '您的校园关系图如下'},
            tooltip: {
                formatter: function (x) {
                    if (typeof (x.data.creditPts) == "undefined") {
                        return x.data.relation;
                    } else {
                        var br = '<br/>';
                        var a = '信用分数 ' + x.data.creditPts + br;
                        var b = ' 财务分数 ' + x.data.financialPts + br;
                        var c = ' 校园表现 ' + x.data.schoolPts + br;
                        var d = ' 信用变化 ';
                        if (x.data.creditChange == -3) {
                            d += '最近信用状况急剧恶化';
                        } else if (x.data.creditChange == -2) {
                            d += '最近信用状况越来越不好';
                        } else if (x.data.creditChange == -1) {
                            d += '最近信用状况有点下降的倾向';
                        } else if (x.data.creditChange == 0) {
                            d += '最近信用状况处于平稳状况';
                        } else if (x.data.creditChange == 1) {
                            d += '最近信用状况有提高趋势';
                        } else {
                            d += '最近该用户的信用状况非常好';
                        }
                        return a + b + c + d;
                    }
                }
            },
            series: [
                {
                    type: 'graph',
                    layout: 'force',
                    symbolSize: 60,//一般大小
                    roam: false, //是否开启鼠标缩放和平移漫游。如果只想要开启缩放或者平移，可以设置成 'scale' 或者 'move'。设置成 true 为都开启
                    focusNodeAdjacency: true,
                    // symbol: 'pin',
                    edgeSymbol: ['circle', 'none'],
                    edgeSymbolSize: [4, 10],
                    edgeLabel: {
                        // 留着以后可以改这里的属性
                        normal: {
                            textStyle: {
                                fontSize: 20
                            }
                        }
                    },
                    force: {
                        repulsion: 2500,
                        edgeLength: [10, 50]
                    },
                    draggable: true,
                    itemStyle: {
                        normal: {
                            color: '#409EFF',
                        }
                    },
                    lineStyle: {
                        normal: {
                            width: 3,
                            type: 'dotted',
                            // color: '#b04ade'
                            color: {
                                type: 'linear',
                                x: 0,
                                y: 0,
                                x2: 0,
                                y2: 1,
                                colorStops: [{
                                    offset: 0, color: '#409EFF' // 0% 处的颜色
                                }, {
                                    offset: 1, color: 'blue' // 100% 处的颜色
                                }],
                                globalCoord: false // 缺省为 false
                            }
                        }
                    },
                    edgeLabel: {
                        normal: {
                            show: true,
                            formatter: function (x) {
                                //同学，工作伙伴啥的
                                return x.data.name;
                            }
                        }
                    },
                    label: {
                        normal: {
                            show: true,
                            textStyle: {}
                        }
                    },
                    data: [{
                        name: '南小紫',
                        creditPts: 97,
                        financialPts: 85,
                        schoolPts: 67,
                        symbolSize: 100,
                        itemStyle: {
                            normal: {
                                // color : '#409EFF'
                                color: {
                                    type: 'linear',
                                    x: 0,
                                    y: 0,
                                    x2: 0,
                                    y2: 1,
                                    colorStops: [{
                                        offset: 0, color: '#7853de' // 0% 处的颜色
                                    }, {
                                        offset: 1, color: '#409EFF' // 100% 处的颜色
                                    }],
                                    globalCoord: false, // 缺省为 false
                                }
                            }
                        },
                    }, {
                        name: '张秀英',
                        creditPts: 97,
                        financialPts: 85,
                        schoolPts: 67,
                        creditChange: 1,
                        itemStyle: {
                            normal: {
                                color: '#5db2ff',
                            }
                        },
                    }, {
                        name: '王桐',
                        creditPts: 97,
                        financialPts: 85,
                        schoolPts: 67,
                        creditChange: 2,
                        itemStyle: {
                            normal: {
                                color: '#409EFF',
                            }
                        },
                    }, {
                        name: '罗子俊',
                        creditPts: 97,
                        financialPts: 85,
                        schoolPts: 67,
                        creditChange: 1,
                        itemStyle: {
                            normal: {
                                color: '#5db2ff',
                            }
                        },
                    }, {
                        name: '付贺然',
                        creditPts: 97,
                        financialPts: 85,
                        schoolPts: 67,
                        creditChange: -3,
                        itemStyle: {
                            normal: {
                                color: '#fa6862',
                            }
                        },
                    }, {
                        name: '陈文博',
                        creditPts: 97,
                        financialPts: 85,
                        schoolPts: 67,
                        creditChange: -3,
                        itemStyle: {
                            normal: {
                                color: '#fa6862',
                            }
                        },
                    }, {
                        name: '吴欣怡',
                        creditPts: 97,
                        financialPts: 85,
                        schoolPts: 67,
                        creditChange: 2,
                        itemStyle: {
                            normal: {
                                color: '#409EFF',
                            }
                        },
                    }, {
                        name: '刘浩',
                        creditPts: 97,
                        financialPts: 85,
                        schoolPts: 67,
                        creditChange: -2,
                        itemStyle: {
                            normal: {
                                color: '#afb8c2',
                            }
                        },
                    }, {
                        name: '张一帆',
                        creditPts: 97,
                        financialPts: 85,
                        schoolPts: 67,
                        creditChange: 0,
                        normal: {
                            color: '#244767',
                        }
                    }, {
                        name: '李艺璇',
                        creditPts: 97,
                        financialPts: 85,
                        schoolPts: 67,
                        creditChange: -1,
                        itemStyle: {
                            normal: {
                                color: '#7ac2ff',
                            }
                        },
                    }, {
                        name: '王刚',
                        creditPts: 97,
                        financialPts: 85,
                        schoolPts: 67,
                        creditChange: -1,
                        itemStyle: {
                            normal: {
                                color: '#7ac2ff',
                            }
                        },
                    }],
                    // links: [],
                    links: [{
                        source: '南小紫',
                        target: '张秀英',
                        name: '同学',
                        relation: '您最近的关系没什么变化'
                    }, {
                        source: '南小紫',
                        target: '王桐',
                        name: '同学',
                        relation: '您最近的关系超级好',
                        lineStyle: {
                            normal: {
                                type: 'solid',
                            }
                        },
                    }, {
                        source: '南小紫',
                        target: '罗子俊',
                        name: '校友',
                        relation: '您最近的关系没什么变化'
                    }, {
                        source: '南小紫',
                        target: '付贺然',
                        name: '校友',
                        lineStyle: {
                            normal: {
                                type: 'dashed',
                            }
                        },
                        relation: '您最近的关系减淡了'
                    }, {
                        source: '南小紫',
                        target: '陈文博',
                        name: '同学',
                        relation: '您最近的关系没什么变化'
                    }, {
                        source: '南小紫',
                        target: '刘浩',
                        name: '同学',
                        relation: '您最近的关系没什么变化'
                    }, {
                        source: '南小紫',
                        target: '王刚',
                        name: '工作伙伴',
                        relation: '您最近的关系没什么变化'
                    }, {
                        source: '南小紫',
                        target: '李艺璇',
                        name: '工作伙伴',
                        relation: '您最近的关系没什么变化'
                    }, {
                        source: '南小紫',
                        target: '张一帆',
                        name: '工作伙伴',
                        relation: '您最近的关系没什么变化'
                    }, {
                        source: '南小紫',
                        target: '吴欣怡',
                        name: '同学',
                        relation: '您最近的关系超级好',
                        lineStyle: {
                            normal: {
                                type: 'solid',
                            }
                        },
                    }],
                }
            ]
        }

        // 使用刚指定的配置项和数据显示图表。
        myChart4.setOption(option4);
    </script>
{% endblock %}

