{% extends 'repositories_basic.html' %}
{% block postcard %}
{% endblock %}

{% block content %}
    <h3 class="pb-3 mb-4 font-italic border-bottom">
        为调试方便，下面展示数据库中的用户数据
    </h3>
    <h4> 本地仓库信息 </h4>
    <table class="table">
        <thead>
            <th>项目名</th>
            <th>项目远程地址</th>
            <th>项目本地地址</th>
            <th>项目添加时间</th>
        </thead>
        <tbody>
        {% for repo in repo_status %}
           <tr>
                <td>{{ repo.REPONAME }}</td>
                <td>{{ repo.REPOURL }}</td>
                <td>{{ repo.REPOLOCALPATH }}</td>
                <td>{{ repo.CLONETIME }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

